{% extends 'base.html.twig' %}

{% block title %}The Microphones{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}" defer></script>
{% endblock %}

{% block body %}
    <h1>Microphones !</h1>

    <dl id="microphones"></dl>
{% endblock %}
